@import "tailwindcss";

:root {
  --background: #FFFDD0;
  --foreground: #1a1a1a;
  --maroon: #800000;
  --purple: #4B0082;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-maroon: var(--maroon);
  --color-purple: var(--purple);
  --font-rustico: var(--font-rustico);
  --font-sans: var(--font-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), serif;
}
